@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col">
        <div class="card shadow-sm mt-3 pb-3">
            <div class="card-header">
                SOBRE A APLICAÇÃO
            </div>
            <div class="card-body">
                <p><strong>Works LifeCycle</strong></p>
                <p><strong>Versão atual: </strong>0.2.20231122</p>
                <br />
                <p>
                    Esta aplicação foi desenvolvida no âmbito da unidade curricular de Projeto Final de Licenciatura em Engenharia Informática.
                    Tem como objetivo fazer a gestão dos projetos finais das licenciaturas, mestrados e doutoramentos.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow-sm mt-3 pb-3">
            <div class="card-header">
                EQUIPA DE DESENVOLVIMENTO
            </div>
            <div class="card-body">
                <h5>Orientador(es)</h5>
                <p>Renato Panda (renato.panda@ipt.pt)</p>
                <br />
                <h5>Aluno(s)</h5>
                <p>André Sá (aluno21296@ipt.pt)</p>
            </div>
        </div>
    </div>
</div>

